THIS NOTEBOOK CONTAINS PART 1 AND PART 2

PART 1

Import essential libraries

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

Scrap the Wikipedia table with Soup, convert html table in a Panda dataframe, display dataframe with .head() function

In [2]:
source=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup=BeautifulSoup(source, 'html.parser')
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df1=df[0].copy()
df1.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Clean data by deleting not assigned values and display the new dataframe with .head() function

In [3]:
df2=df1[df1.Borough != 'Not assigned']

In [4]:
df2.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Combine Neighbourhoods with same Postal Code and replace Neighbourhoods with NA values with name of Boroughs

In [5]:
df3=df2.groupby(['Postal Code','Borough'],sort=False).agg(', '.join)
df3.reset_index(inplace=True)
df3['Neighbourhood']=np.where(df3['Neighbourhood'] == 'Not assigned',df3['Borough'],df3['Neighbourhood'])
df3.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Check shape of dataframe

In [6]:
df3.shape

(103, 3)

PART 2

Import geospatial data and display dataframe with .head() function

In [7]:
geo='https://cocl.us/Geospatial_data'
df4=pd.read_csv(geo)
df4.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Merge the two dataframe and display the new one by using .head() function

In [8]:
df5=pd.merge(df3,df4,on='Postal Code')
df5.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494