Import essential libraries

In [7]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

Scrap the Wikipedia table with Soup, convert html table in a Panda dataframe, display dataframe with .head() function

In [9]:
source=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup=BeautifulSoup(source, 'html.parser')
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df1=df[0].copy()
df1.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Clean data by deleting not assigned values and display the new dataframe with .head() function

In [17]:
df2=df1[df1.Borough != 'Not assigned']

In [18]:
df2.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Combine Neighbourhoods with same Postal Code and replace Neighbourhoods with NA values with name of Boroughs

In [20]:
df3=df2.groupby(['Postal Code','Borough'],sort=False).agg(', '.join)
df3.reset_index(inplace=True)
df3['Neighbourhood']=np.where(df3['Neighbourhood'] == 'Not assigned',df3['Borough'],df3['Neighbourhood'])
df3.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Check shape of dataframe

In [22]:
df3.shape

(103, 3)